/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: .2rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #fff;
  --first-color-light: #a5a6a8;
  --white-color: #000;
  --purple-color: #5756b3;
  --active: #f4e3eb;
  
  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color: var(--first-color);
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  /* background-color: var(--white-color); */
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .2rem .2rem .2rem .2rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
  font-size: 1.3rem;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: .7rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

.show .nav {
  margin-left: 2.2rem;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
  background-color: var(--active);
  border-radius: 10px;
}

/* .active::before{
  content: '';
  position: absolute;
  right: 0;
  width: 5px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--purple-color);
} */

.active i {
    background-color: #faf1f6;
    padding: .7rem;
    border-radius: 10px;
}

i {
  padding: .7rem;
}

.main {
  background-color: #e7e7e7;
  border-radius: 20px;
  height: 94vh;
  margin: .2rem;
  padding: 1rem;
}

h1 {
  font-weight: 600;
  line-height: 1;
}

.subtext {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--first-color-light);
}

.bottom_left {
  padding: 30px;
  border-radius: 10px;
  background-color: #faf8fb;
}

.bottom_left .nav__link i {
  background-color: #edf0f9;
  padding: .7rem;
  border-radius: 10px;
}

.bottom_left a.nav__link {
    color: var(--white-color);
    background-color: #dfe0f2;
    border-radius: 10px;
}

.bottom_left p {
  margin-top: 5px;
    font-size: .8rem;
    text-align: center;
    color: var(--first-color-light);
}

.search {
  position: relative;
}

.search span {
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.search input {
 border: 0px;
 border-radius: 10px;
 height: 2.5rem;
}

.picon img {
  height: 2.5rem;
  width: auto;
}

/* ===== SWITCH BUTTON=====*/
.switch-button {
  width: 200px;
  height: 40px;
  text-align: center;
  will-change: transform;
  z-index: 197 !important;
  cursor: pointer;
  transition: 0.3s ease all;
  background-color: #fff;
  border-radius: 10px;
}
.switch-button-case {
  display: inline-block;
  background: none;
  /* width: 49%; */
  height: 100%;
  color: rgb(71, 70, 70);
  border: none;
  transition: 0.3s ease all;
}
.switch-button-case:hover {
  color: grey;
  cursor: pointer;
}
.switch-button-case:focus {
  outline: none;
}
.switch-button .active_b {
  color: #ffffff;
  background-color: #383874;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  transition: 0.3s ease-out all;
}
.switch-button .active_b-case {
  color: #ffffff;
}
.signature {
  position: fixed;
  font-family: sans-serif;
  font-weight: 100;
  bottom: 10px;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100vw;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.threed {
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: .4rem;
  box-shadow: 0 0 15px rgb(0 0 0 / 75%);
}

.first {
  position: relative;
}

.man1 {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.first .first_bottom {
  position: absolute;
  bottom: 0px;
  border-radius: 20px;
  background-color: #383874;
  width: 100%;
}

.sec2 {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.renew {
  font-size: .8rem;
  color: #6870bb;
}

.renewbtn {
  background-color: #e7bdd3;
  color: white;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}

.headtext {
  color: var(--first-color-light);
  font-size: 1rem;
  font-weight: 600;
}

.rightico {
  padding: 20px;
  font-size: 1.5rem;
  background-color: #fde6b2;
  border-radius: 50%;
  font-weight: 600;
}

.right2 {
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: 10px;
}

.right3 {
  height: 100%;
  background-color: #5756b3;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-top: 10px;
}

.btom {
  width: 100%;
  border-radius: 15px;
  background-color: #f2f6f9;
}

.bx-fullscreen {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: aqua;
    border-radius: 50%;
}

.tnt h5{
  font-weight: 500;
}

.tnt span {
  font-size: .8rem;
  color: #a5a6a8;
}

.p-2.bg-white {
  border-radius: 15px;
}

.right-3 {
    height: 100%;
    background-color: red;
    border-radius: 15px;
    margin: 3px;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 180px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}

@media screen and (min-width: 0px) and (max-width: 769px) {
  .show .nav {
    margin-left: 0rem;
}

.l-navbar {
  width: 55px;
  padding: 0;
}

.body-pd {
  padding-left: calc(55px);
}

.bottom_left {
  padding: 0;
}
}



